<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Dia 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Antes de começar</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Enquete pre-workshop</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>13h</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Organização de Dados em Planilhas</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>14h30</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/">Introdução ao R</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Dia 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>13h</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/">Continuation of R: Data analysis</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>15h</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/">Continuation of R: Data Visualization</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Enquete pós-workshop</a></td>
      </tr>
    </table>
  </div>
</div>
