<p>
  Esse é um workshop baseado no <a href="{{site.dc_site}}">Data Carpentry</a>, um módulo do The Carpentries voltado
  para o desenvolvimento e ensino de abilidades relacionadas a dados.
  O público alvo são alunos e pesquisadores com pouca ou nenhuma experiência computacional prévia,
  visando capacitá-los para aplicar as novas abilidades rapidamente em sua própria pesquisa.
</p>
<p align="center">
  <em>
    Para mais informações sobre o quê se ensina no The Carpentries e por quê,
    veja o paper
    "<a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Good Enough Practices for Scientific Computing</a>".
  </em>
</p>
