
<h3 id="videoconferencing">Install the videoconferencing client</h3>

{% comment %}
Replace the paragraph below with the relevant installation instructions
if you do not use Zoom

<p>
  If you haven't used Zoom before, go to the
  <a href="https://zoom.us/download">official website</a>
  to download and install the Zoom client for your computer.
</p>
{% endcomment %}

<h4>Configure seu espaço de trabalho</h4>

<p>
  Esse minicurso segue o modelo de live-coding do The Carpentries,
  ou seja, programação em tempo real acompanhando os instrutores.
  Para isso, você precisará ter na tela tanto a janela do programa que vamos usar (RStudio, Excel etc.)
  como a janela do Zoom.
  Para ver as duas ao mesmo tempo, recomendamos uma das seguintes opções:
  <ul>
    <li><strong>Dois monitores:</strong> Se você tem dois monitores disponíveis,
      planeje para manter o software de interesse em um dos monitores,
      e a janela do Zoom no outro.</li>
    <li><strong>Dois aparelhos:</strong> Se um segundo monitor não está disponível,
      você tem algum outro aparelho (tablet, celular) com uma tela de tamanho razoável?
      Caso sim, tente usar a tela menor para o vídeo e
      a tela do computador para acompanhar o programa sobre o qual vamos aprender.</li>
    <li><strong>Divida sua tela:</strong> Se o computador com uma tela é a única opção disponível,
      pratique ter as duas janelas abertas ao mesmo tempo
      (a janela do Zoom e a do RStudio).
      Qual a melhor disposição das duas janelas na sua tela?
      Seria melhor alternar entre as duas janelas com um atalho do teclado?
      Teste com antencedência para encontrar o melhor ajuste para você,
      e para que sua experiência durante o minicurso seja a melhor possível.</li>
  </ul>
  Esse <a href="https://carpentries.org/blog/2020/06/online-workshop-logistics-and_screen-layouts/" target="_blank">post</a> inclui mais detalhes
  sobre como configurar sua tela durante o workshop.
</p>
